@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&family=VT323&display=swap');


.home-container {
    padding:35px;
    text-align: center;
}

.welcome-heading {
    font-family: 'VT323', monospace;
    color:white;
    font-size : 55px;
    
}

.name-title {
    font-family: 'VT323', monospace;
    color:white;
    font-size : 75px;
}

.home-wallpaper {
    max-width: 30%;
    max-height: 25%;
    margin-left:10px;
    border-radius: 30px;
}

.animate__animated.animate__flipInX {
    --animate-duration: 1.5s;
  }

.home-showcase {
    display : flex;
    padding-top:35px; 
    justify-content:center;
}

.card-row {
    display : flex;
    justify-content: center;
    padding:10px;
}

.card-img {
    max-width: 10%;
    max-height: 10%;
    padding:10px;
}


.tech-stack-card {
    padding:20px;
    border-radius: 10px;
}

.card-heading {
    font-family: 'Roboto Mono', monospace;
    font-size:35px;
    padding:20px;
    color:white;
    transition : color 200ms ease-in-out;
}



.card-heading:hover {
    color:gold;
}